<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add chat</title>
</head>
<body>
    <h1>create new chats...</h1>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="enter sender name"> <br><br>
        <textarea type="text" name="message" placeholder="write message here "></textarea> <br><br>
        <input type="text" name="to" placeholder="enter reciver name"> <br><br>
        <button>create chat</button>
    </form>
</body>
</html>